Useful/Web References/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://zeus/DataService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://zeus/DataService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Useful Data Services Web Service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://zeus/DataService/">
      <s:element name="Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExportSoapIn">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="ExportSoapOut">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:portType name="Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="Export">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this method for exporting data.</wsdl:documentation>
      <wsdl:input message="tns:ExportSoapIn" />
      <wsdl:output message="tns:ExportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap" type="tns:Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://zeus/DataService/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap12" type="tns:Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Export">
      <soap12:operation soapAction="http://zeus/DataService/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Useful_x0020_Data_x0020_Services_x0020_Web_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Useful Data Services Web Service.</wsdl:documentation>
    <wsdl:port name="Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap" binding="tns:Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://zeus/UsefulWeb/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap12" binding="tns:Useful_x0020_Data_x0020_Services_x0020_Web_x0020_ServiceSoap12">
      <soap12:address location="http://zeus/UsefulWeb/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>