Source/Useful/!Retired/Config/DataServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DataServices">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BasePath" type="xs:string" />
                <xs:element name="SchemaPath" type="xs:string" />
                <xs:element name="ImportPath" type="xs:string" />
                <xs:element name="ErrorPath" type="xs:string" />
                <xs:element name="ExportPath" type="xs:string" />
                <xs:element name="ImportFilter" type="xs:string" />
                <xs:element name="WatcherTimeout" type="xs:unsignedByte" />
                <xs:element name="ImportQueue" type="xs:string" />
                <xs:element name="ErrorsQueue" type="xs:string" />
                <xs:element name="ExportQueue" type="xs:string" />
                <xs:element name="Customers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Customer">
                                <xs:complexType>
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="CID" type="xs:unsignedShort" use="required" />
                                    <xs:attribute name="Folder" type="xs:unsignedShort" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>